*{margin: 0;padding: 0;outline: 0;}
form{height: auto;}
input[type="submit"]
	{
		text-align: center;
	    padding: 5px;
	    width: 115px;
	    font-size: 28px;
	    border-radius: 29px;
	    margin-left: 100px;
	    background: #917575;
	    border: 1px solid #b2a1a1;
	    color: #ecd3b0;
	    cursor: pointer;
	}
input[type="reset"]
	{
		text-align: center;
	    padding: 5px;
	    width: 115px;
	    font-size: 28px;
	    border-radius: 29px;
	    margin-left: 100px;
	    background: #917575;
	    border: 1px solid #b2a1a1;
	    color: #ecd3b0;
	    cursor: pointer;
	}






